<footer>
    <div class="container">
    <div class="row">
        <div class="col-md-12">
        <div class="inner-content">
            <p>Copyright &copy; 2020 Adizya Clothing Co., Ltd.
        </div>
        </div>
    </div>
    </div>
</footer>