<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div> 
<div class="containerr" style="text-align: center;">
    <img src="/img/thankyou.jpg" width="700">
    <div style="padding: 2%;">
        <h3>Dear, {{name}}</h3>
        <p style="font-size: 20px; color: honeydew;">Your purchased products will be shipped and delivered to you within 4-5 working days.<br>
        Thanks for shopping with us.</p>
    </div>
</div>